/* 建立root CSS setting(by using relative unit rem) */


body {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans TC', 'Source Han Sans', sans-serif;
}

.heading-primary {
  color: $color-third;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 700;
  }

  &--sub {
    display: block;
    font-size: 2.25rem;
    font-weight: 400;
  }
}

.heading-secondary {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.heading-tertiary {
  font-size: 2.625rem;
  text-align: center;
  font-weight: 500;

  &--sub {
    font-size: 2rem;
    text-align: center;
  }
}