// container
$container-width-pc: 81rem; //1296px

// form max-width
$form-max-width-pc: 39.75rem;
$form-max-width-tablet: 36rem;

// breakpoint
$landscape: 64rem; //1024px
$ipad: 48rem; //768px
$smartphone: 35rem; //560px

$space-24: 1.5rem;
$padding-tablet: 2.25rem;

$color-primary: #AA0601;
$color-secondary: #FBF2F2;
$color-third :#650300;
$color-black: #000000;
$color-white: #ffffff;

// index-customer
$color-border: #DEE2E6;
$color-date: #707070;
$color-boxShawdow : #00000029;

// frame-pagination
$color-pagination-bg: #F2F2F2;
$color-pagination-dark: #555555;

$color-style-lightBrown: #B75929;
$color-style-darkBrown: #5F3E2D;

// storebase select
$color-select-border: #CED4DA;
$color-select-font: #495057;
$color-storebase-cardborder: #00000020;
$color-storebase-font: #212529;