.footer {
  background-color: $color-primary;
  @include sectionPadding(3rem, 2.5rem);
  color: $color-white;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__menus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include linkStyle($color-white);
    @extend %linkHover;

    &--menu {
      display: flex;
      align-items: center;
      height: 3rem;
      line-height: 3rem;
    }

    &--infos {
      @include sectionPadding(1.5rem, 2rem);
      @include linkStyle($color-white);
      @extend %linkHover;

      & li {
        font-size: 2.25rem;
        line-height: 1.5;

        span {
          font-size: 2.25rem;
          vertical-align: middle;
        }
      }
    }
  }

  &__icons {
    display: flex;

    & li a img {
      width: 3rem;
    }
  }

  &__copyright {
    border-top: 1px solid $color-white;
    display: flex;
    align-items: center;
    padding-top: 2rem;

    & li:first-child {
      margin-right: auto;
    }
  }
}

// @media screen and (max-width:$rwd-container) {
//   .footer {
//     .container {
//       width: $rwd-container;
//     }
//   }
// }