.blog {
  &__wrapper {
    margin: 0 -0.75rem;
  }

  &__nav {
    height: 3.5rem;
    background-color: $color-third;
    line-height: 3.5rem;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    @include linkStyle($color-white);
    @extend %linkHover;

    &--list {
      display: flex;
      color: $color-white;
      font-size: 1.25rem;

      li:not(:last-child) {
        margin-right: 3rem;
      }
    }

    &--search {
      span {
        display: inline-block;
        font-size: 1.875rem;
        line-height: 3rem;
        color: $color-white;
      }
    }
  }

  & h1 {
    @extend %paginationTitle;
  }

  &__article {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 3.75rem;
    }

    img {
      width: 49%;
    }

    &--details {
      width: 49%;

      h2 {
        font-size: 2rem;
        color: $color-third;
      }

      h2+div {
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        color: $color-black;
      }
    }

    &--info {
      font-size: 1.25rem;
      color: $color-pagination-dark;
    }

    &--more {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 2.25rem;
      font-weight: 900;
      color: $color-third;

      a {

        &:any-link {
          color: $color-third;
        }

        &:hover {
          transform: translateY(-0.5rem);
          text-shadow: 0 2px 4px gray;
        }
      }
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.75rem;
  }
}

.specialBlog {
  margin-bottom: 5rem;

  h1 {
    color: $color-black;
    text-align: left;
    font-weight: 400;

    span {
      font-size: 1.5rem;
      display: block;
    }
  }

  &__menulist {
    display: flex;
    @extend %linkHover;

    li:not(:last-child) a:any-link {
      color: $color-black;
    }

    li:last-child a:any-link {
      color: $color-primary;
    }

  }

  &__tag {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: $color-primary;
    font-weight: 700;
  }

  &__content {
    display: flex;
  }

  &__article {
    &--details {
      color: $color-pagination-dark;
      margin-bottom: 2.5rem;
    }
  }

  &__share {
    &-icons {
      display: flex;
      font-weight: 900;
      border-bottom: 1px solid $color-date;

      img {
        width: 1.5rem;
      }
    }

    &-next {
      display: flex;
      justify-content: space-between;
      @extend %linkHover;
      @include linkStyle($color-black);

      span {
        vertical-align: bottom;
      }
    }

  }

  &__sideBar {
    flex: 0 0 26rem;
    margin-left: 1.5rem;

    p {
      font-size: 2rem;
      font-weight: 700;
      color: $color-primary;

      span {
        font-size: 3rem;
        color: $color-primary;
        vertical-align: bottom;
        font-weight: 700;
      }
    }
  }
}