.sectionAbout {
  color: $color-third;
  background-color: $color-secondary;
  @include sectionPadding(5rem, 5rem);

  &__cards {
    display: flex;
    justify-content: space-between;
    margin: 0 -0.75rem;
  }

  &__card {
    width: 25%;
    padding: 0 0.75rem;
    // width: calc((#{$container-width-pc} - 3*#{$space-24}) /4);

    & img {
      width: 6.25rem;
    }

    & h2 {
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 700;
      text-align: center;
    }
  }
}

.sectionClassic {
  color: $color-third;
  @include sectionPadding(5rem, 5rem);

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: calc((#{$container-width-pc} - 2*#{$space-24}) /3);

    img:hover {
      opacity: 0.85;
    }

    h2 {
      color: $color-primary;
      font-style: italic;
    }
  }
}

.sectionJoint {
  background: url('../images/index-bg.png') center / cover;
  color: $color-white;
  @include sectionPadding(5rem, 5rem);

  &__series {
    @extend %flexWrap;
    color: $color-primary;
    font-style: italic;
  }

  &__joint {
    width: 50%;
    display: inline-block;

    p {
      background-color: $color-white;
      border: 1px solid $color-border;

      &:hover {
        background-color: $color-border;
      }
    }

    .joint-pic-1 {
      background: url('../images/home-section4-1-sm.png') center / cover;
      @include jointPic(100%, 15rem);
    }

    .joint-pic-2 {
      background: url('../images/home-section4-2-sm.png') center / cover;
      @include jointPic(100%, 15rem);
    }
  }
}

.sectionCustomer {
  color: $color-third;
  @include sectionPadding(5rem, 3.5rem);

  &__rec {
    display: flex;
    justify-content: space-between;
    margin: 0 -0.75rem 1.5rem -0.75rem;
  }

  &__cardWrap {
    width: 25%;
    padding: 0 0.75rem;
    color: $color-black;
    display: flex;
    // width: calc((#{$container-width-pc} - 3*#{$space-24}) /4);
  }

  &__card {
    border: 1px solid $color-border;
    border-radius: 0.5rem;

    &:hover {
      box-shadow: 0 2px 6px $color-boxShawdow
    }


    &-details {
      height: 12.8125rem; //205px
      position: relative;

      li:nth-of-type(2) {
        margin-bottom: 4.5rem;
      }

      .date {
        color: $color-date;
        position: absolute;
        bottom: 1rem;
      }
    }
  }
}

.sectionContact {
  color: $color-third;
  background-color: $color-secondary;
  @include sectionPadding(5rem, 5rem);

  &__form {
    max-width: $form-max-width-pc;
    color: $color-black;

    label {
      display: inline-block;
    }

    input,
    textarea {
      @extend %inpuStlye;
    }

    .checkbox-part {
      display: flex;
      align-items: flex-start;

      input {
        display: inline-block;
        max-width: 1.5rem;
      }
    }
  }
}