.questions {
  margin-bottom: 5rem;
  text-align: left;

  h1 {
    @extend %paginationTitle;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__QandA {
    h3 {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}