.btn {
  background-color: $color-primary;
  text-align: center;

  &:any-link,
  &:visited {
    color: $color-white;
  }

  &:hover {
    transform: translateY(0.2rem);
    background-color: $color-third;
  }

  &--buy {
    display: block;
    max-width: 6.5rem;
    font-size: 1.25rem;
    padding: 0.375rem;
  }

  &--confirmed {
    display: block;
    max-width: 26rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}