.pagination {
  border: 1px solid $color-pagination-dark;
  display: flex;
  align-items: center;
  text-align: center;
  width: 23.25rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  @include linkStyle($color-pagination-dark);

  li {
    border-right: 1px solid $color-pagination-dark;
    min-width: 2.625rem;
  }

  li:first-child,
  li:last-child {
    width: 5.0625rem;
    background-color: $color-pagination-bg;
  }



  li:hover {
    background-color: $color-black;

    & a {
      color: $color-white;
    }
  }
}